#footer {
    width: 100%;
    height: 100px;
    background-color: var(--blk);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;margin: 20px;
}

#footer div a{
    color: var(--yel);
    
}

#footer p {
    margin-right: 10px;
    color: var(--wht);
}